@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 700;
  src: url('../../shared/fonts/Quicksand-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 500;
  src: url('../../shared/fonts/Quicksand-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: url('../../shared/fonts/Quicksand-Regular.ttf') format('ttf');
}
