.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 1.25rem;

  box-shadow: 0 0 1rem var(--primary);
  padding: 1.25rem 1rem;

  @media (max-width: 725px) {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.thumbnailContainer {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  @media (max-width: 725px) {
    justify-content: center;
  }
}
