.container {
  position: relative;
}

.image {
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;

  @media (max-width: 780px) {
    width: 10rem;
    height: 10rem;
  }

  @media (max-width: 725px) {
    width: 15rem;
    height: 15rem;
  }
}
