.text {
  font-weight: 400;
  color: var(--light-color);
  white-space: nowrap;
}

.mainInfo {
  display: flex;
  gap: 1.5rem;
}

.labels {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  white-space: nowrap;
}

.label {
  font-weight: 700;
  color: var(--primary);
}
